.create{
    display: flex;
    padding: 10px;
    margin: 10px;
    
    background-color: lightblue;
    width: 500px;
    border-radius: 5px;
}
input{
    margin: 2px;
    padding: 2px;
    width: 90%;
    color: grey;
    border-radius: 5px;
    border: 2px solid grey;
}
.btn{
     margin: 2px;
     color: aqua;
     background-color: grey;
     cursor: pointer;
}
